/* Universal Styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

#root {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(153.15% 427.74% at 100% 98.61%, #024844 0%, #09986D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button, a {
  cursor: pointer;
}

/* Top Bar Styling */

#topBarWrap {
  display: flex;
  flex-direction: row;
  background: none;
  align-items: center;
  padding: 20px 0;
}

#topBarWrap a {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 2px 10px;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid white;
  transition: all .35s;
  left: 50px;
}

#topBarWrap a hr {
  position: absolute;
  max-height: 0px;
  max-width: 0px;
  height: 0px;
  overflow: hidden;
  transition: all .35s;
  opacity: 0;
  transform: translate(102.5px);
}

#topBarWrap a:hover hr  {
  max-height: 20px;
  height: 20px;
  max-width: 1px;
  width: 1px;
  transition: all .35s;
  opacity: 1;
  border-radius: 20px;
}

#topBarWrap a:hover svg  {
  animation-name: rightArrow;
  animation-duration: 0.35s;
  animation-fill-mode: forwards; 
  opacity: 1; 
}

#topBarWrap a:hover  {
  background: white;
  border-color: black;
  color: black;
  padding-right: 40px;
}

#topBarWrap a:active  {
  background: #333;
  color: white;
  border-color: white;
}

#topBarWrap svg {
  position: absolute;
  opacity: 0;
  height: 20px;
  transform: translate(90px);
}

@keyframes rightArrow {
  0% {
      transform: translate(90px);
  }
  100% {
      transform: translate(110px);
  }
}

/* Title */
#topBarWrap #titleWrap {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
} 

#topBarWrap #titleWrap h1 {
  letter-spacing: 2px;
  font-size: 15px;
}

#topBarWrap #titleWrap p {
  letter-spacing: 1px;
  font-size: 13px;
}

/* Quote Section */
#quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px 0;
  height: 80vh;
}

#quote-section .text {
  text-align: center;
  color: white;
  padding: 20px 200px;
}

#quote-section .text h1 {
  margin-bottom: 10px;
}

#quote-section .text hr {
  margin-bottom: 20px;
}

#quote-section .options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#quote-section .newQuote {
  background: none;
  border: 1px solid white;
  padding: 10px;
  color: white;
  transition: .35s all;
}

#quote-section svg {
  height: 30px;
  cursor: pointer;
}

#quote-section svg:hover {
  color:white;
}

#quote-section .newQuote:hover {
  background: white;
  color: black;
  transition: .35s all;
}

.hover-underline-animation-black {
  display: inline-block;
  position: relative;
}

.hover-underline-animation-black:hover {
  transition: color .5s ease-out;
  color: black
}

.hover-underline-animation-black::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-black:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}