.send-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#message-input {
  width: clamp(300px, 50vw, 1000px);
  height: min(60vh, 500px);
  font-size: 25px;
  resize: none;
  border-style: none;
  background-image: linear-gradient(to bottom right, #ffebdb, #ffe0d0);
  padding: 10px;
  border-radius: 20px;
}

#message-input:focus {
  outline-style: none;
}

.submit-message {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Nunito';
  background: none;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
  margin-top: 10vh;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.submit-message:hover {
  background-color: white;
  color:black;
}